.bgimg1 {
    background-image: url("/images/pexels-sebastian-voortman-189349.jpg");
}

.content-divider {
    padding: 10px;
    color: #808080;
    text-align: center;
    font-size: large;
    letter-spacing: 1px;
}

#tool-selection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#tool-selection a {
    text-decoration: none;
    color: #808080;
}

.tool {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px;
    /*background-color: rgba(128,128,128, 0.7);*/
    background: linear-gradient(135deg, rgba(245, 175, 25, .8) 0%, rgba(241, 39, 17, .8) 100%);
    border-radius: 50px;
}

.tool:hover {
    background: linear-gradient(135deg, rgba(245, 175, 25, 1) 0%, rgba(241, 39, 17, 1) 100%);

}

.tool .title {
    position: absolute;
    top: 25%;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #d6d6d6;
}

.tool .subtitle {
    position: absolute;
    top: 55%;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 40px;
    color: #d6d6d6;

}